<div class="ui visible sidebar inverted vertical menu">
    <a class="item">
        <a class="ui mini icon image" style="margin-right: 1em">
            <img class="ui mini icon image" src="/assets/logo.png">
        </a>
        UI Angular Docs
    </a>
    <a class="item">
        Getting Started
    </a>
    <div class="item">
        <div class="header">Elements</div>
        <div class="menu">
            <a class="item">
                Button
            </a>
        </div>
    </div>
</div>
<div class="pusher" style="padding-left: 15rem">
    <router-outlet></router-outlet>
</div>